<!--
  Generated template for the Joined page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Joined</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of channels" (click)="openChat(c)">
      <ion-avatar item-left>
        <img src="{{c.Image}}">
      </ion-avatar>

      <h2>{{c.Name}}</h2>
      <p *ngIf="c.LastMessage.length > 0"><strong>{{c.LastMessageUser}}:</strong> {{c.LastMessage}}</p>
      
      <div class="container" item-right>
        <div class="row">
          <ion-note>{{c.LastMessageDate|date: 'H:mm'}}</ion-note>
        </div>
        <div class="row" *ngIf="c.UnreadCount > 0">
          <ion-badge>{{c.UnreadCount}}</ion-badge>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
