page-chat-modal {

    .answer {
        max-width: 250px;
        overflow: hidden;
        clear: both;
    }

    .answer .avatar {
    width: 35px;
    height: 35px;
    position: absolute;
    }
    .answer .avatar img {
        display: block;
        border-radius: 20px;
        height: 100%;
    }
    .answer .avatar .status.offline {
        border: 1px solid #5a5a5a;
        background: #ffffff;
    }
    .answer .avatar .status.online {
        background: #4caf50;
    }
    .answer .avatar .status.busy {
        background: #ffc107;
    }
    .answer .avatar .status {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        position: absolute;
        left: 25px;
        margin-top: -10px;
    }

    .answer.left {
        padding: 0 0 0 15px;
        text-align: left;
        float: left;
    }
    .answer .name {
        font-size: 14px;
    }
    
    .answer.left .text {
        background: #ebebeb;
        color: #333333;
        border-radius: 8px 8px 8px 0;
    }
    .answer .text {
        padding: 5px;
        font-size: 13px;
        line-height: 26px;
        position: relative;
    }
    .answer.left .text:before {
        left: -30px;
        border-right-color: #ebebeb;
        border-right-width: 12px;
    }
    .answer .text:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        border: 18px solid transparent;
        border-bottom-width: 0;
    }
    .answer.left .time {
        padding-left: 5px;
        color: #333333;
    }
    .answer .time {
        font-size: 12px;
    }
    .answer.left .avatar {
        left: 5px;
        margin-top: -50px;
    }

    .answer .avatar {
        /*bottom: 1px;*/
    }

    /*RIGHT*/
    .answer.right {
        padding: 0 20px 0 0;
        text-align: right;
        float: right;
    }

    .answer.right .avatar {
        right: 0;
    }
    .answer.right .avatar .status {
        left: 4px;
    }
    .answer.right.sending .text {
        background: #B2A9E8;
    }
    .answer.right .text {
        background: #7266ba;
        color: #ffffff;
        border-radius: 8px 8px 0 8px;
    }
    .answer.right .text:before {
        right: -30px;
        border-left-color: #7266ba;
        border-left-width: 12px;
    }

    .answer.right .time {
        padding-right: 5px;
        margin: auto;
        color: #333333;
    }

    /*PREVIEW*/
    .answer.preview {
        padding: 0 0 0 15px;
        text-align: left;
        float: left;
        padding-bottom: 10px;
        opacity: 0.5;
    }

    .answer.preview .avatar {
        left: 5px;
        margin-top: -50px;
    }
    .answer.preview .avatar .status {
        right: 4px;
    }
    .answer.preview .text {
        background: #ebebeb;
        color: #333333;
        border-radius: 8px 8px 0 8px;
    }
    .answer.preview .text:before {
        left: -2px;
        border-left-color: #ebebeb;
        border-left-width: 12px;
    }



}